<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <util:properties id="jdbcProps" location="classpath:bd.properties"/>

    <bean id="usersRepo" class="competition.persistance.UsersDBRepo">
        <constructor-arg ref="jdbcProps"/>
    </bean>

    <bean id="roundsRepo" class="competition.persistance.RoundsDBRepo">
        <constructor-arg ref="jdbcProps"/>
    </bean>

    <bean id="childrenRepo" class="competition.persistance.ChildrenDBRepo">
        <constructor-arg ref="jdbcProps"/>
    </bean>

    <bean id="enrollmentsRepo" class="competition.persistance.EnrollmentsDBRepo">
        <constructor-arg ref="jdbcProps"/>
    </bean>

    <bean id="connectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory"/>

    <bean id="topic" class="org.apache.activemq.command.ActiveMQTopic">
        <constructor-arg value="EnrollmentTopic"/>
    </bean>

    <bean id="converter" class="org.springframework.jms.support.converter.MappingJackson2MessageConverter">
        <property name="targetType" value="TEXT"/>
        <property name="typeIdPropertyName" value="_notification"/>
    </bean>

    <bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
        <constructor-arg ref="connectionFactory"/>
        <property name="defaultDestination" ref="topic"/>
        <property name="messageConverter" ref="converter"/>
    </bean>

    <bean id="notificationService" class="competition.NotificationService">
        <constructor-arg ref="jmsTemplate"/>
    </bean>

    <bean id="competitionServer" class="competition.Server">
        <constructor-arg ref="usersRepo"/>
        <constructor-arg ref="roundsRepo"/>
        <constructor-arg ref="childrenRepo"/>
        <constructor-arg ref="enrollmentsRepo"/>
        <constructor-arg ref="notificationService"/>
    </bean>
    <bean id="competitionTCPServer" class="utils.RpcConcurrentServer">
        <constructor-arg index="0" value="#{jdbcProps.getProperty('server.port')}"/>
        <constructor-arg ref="competitionServer"/>
    </bean>
</beans>